<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kelvin's Clothes Inventory</title>
    <link rel="stylesheet" href="/css/clothes.css">
  </head>
  <body>
  <div class="container">
    <nav>
        <a href="/clothes">Clothes Inventory List</a>
        <a href="/clothes/new">Add New Clothing Item</a>
        <a href="/clothes/types">Add New Clothing Type</a>
    </nav>

    <h1>Kids' Clothes Inventory</h1>

    <%= yield %>

  </div>
  </body>
</html>