<h2>Try and Guess a number !</h2>

<form action="<%= number_guess_path %>">
  
    <br>
  <input type="text" name="max" value="" placeholder="Select a Maximum" autofocus>
  <input name="guess" placeholder="Make a Guess" type="text">
  <button>Guess</button>

</form>