/* * {
  border: 1px dashed magenta;
} */

body {
  background: #D0E4F5 url("https://www.colourbox.com/preview/17260077-vector-modern-seamless-pattern-texture-background.jpg") repeat fixed -34px -39px;

}

.center-div{
text-align: center;
 margin: 0 auto;
 width: 600px;
 height: 300px;
 background-color: #e88d70;
 -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px -32px 15px -8px rgba(0,0,0,0);
box-shadow: 0px 10px 13px -7px #000000, 5px -32px 15px -8px rgba(0,0,0,0);
}

.container {
margin: 11em auto;
 width: 100%;
 height: 100%;
}

.links{
  background-color: #a50000;
  margin: 0 auto;
  width: 600px;
  height: 30px;
  border: 13px inset #E00000;
  border-radius: 28px 27px 0px 0px;
}

a {
  padding: 0 5.4%;
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
}

h1 {
  margin-top: 0;
}
