<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DnD 5e Weapons</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="#"></a>
        <a href="#"></a>
        <a href="#"></a>
      </nav>
      <h1>DnD 5e Weapons</h1>
        <%= yield %>
    </div>
  </body>
</html>
