<h2> New Weapon</h2>
<form action="/" method="post">
  <label>
    Name:
   <input type="text" name="name" placeholder="Weapon Name" required autofocus>
  </label>

  <label>
    Cost:
   <input type="number" name="cost" placeholder="Weapon Cost">
  </label>

  <label>
    Damage:
   <input type="text" name="damage" placeholder="Damage">
  </label>

  <label>
    Damage Type:
   <input type="text" name="damageType" placeholder="Damage Type">
  </label>

  <label>
    Weight:
   <input type="number" name="weight" placeholder="Weapon Weight">
  </label>

  <label>
    Special Properties:
   <input type="text" name="properties" placeholder="Special Properties">
  </label>

  <button>Edit Weapon</button>
</form>
