<h1>Magic 8 Ball!</h1>
	<br><br>
		<form action="/magic/response" method="get">
			<label for="msg">Message:</label>
 				<textarea name="fortune"></textarea>
			<button>Get Response</button>
		</form>
