body{

background-image: url(subway.jpg);
background-repeat: none;
background-position: center;
background-attachment: fixed;
background-size: cover;
height: 100vh;
/* justify-content: center;
align-items: center; */
font-family: 'Raleway', sans-serif;
font-weight: 300;
text-align: center;
color: white;
}
