<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restaurants</title>
  <link rel="stylesheet" href="/css/restaurants.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/restaurants">Lists of Restaurants</a>
      <a href="/restaurants">View Restaurants</a>
      <a href="/restaurants/add">Add New Restaurants</a>
    </nav>
    <h1>Restaurants</h1>
    <%= yield %>
  </div>
</body>
</html>
