
<h1 class="book" ><%= @title %></h1>     <!-- includes information gathered from api -->
<img src= "<%= @cover_image %>">         <!-- and displays it on the page -->
<h2 class="book">Description</h2>
<p class="book"><%= @description %></p>
