
<header>
<h1>Book Party</h1>
<p>Get up in this </p>

<form action="/book_display">
  <label>Book Title:  </label>
  <input type="text" name="book_title" placeholder="what book?" autofocus required>
  <button>Get book details</button>
</form>
</header>
