<form action="/magic/result">
  <label>
    Ask a question to Magic 8 Ball:
    <input type="text" name="question">
  </label>
  <button name="button">ASK!</button>
</form>

<div>
  <img src="https://media.tenor.com/images/9509f26ebc955c3e0763db89239c8b2b/tenor.gif" alt="">
</div>
