<h1>Welcome To Games On Rails</h1>
<br />
<h2>Pick Your Game &amp; Play </h2>
<a href="/magic/"><i class="fas fa-magic icon"></i></a>
<a href="/rps/"><i class="far fa-hand-scissors icon"></i></a>
<a href="/number/"><i class="fas fa-sort-numeric-up icon"></i></a>