<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stories</title>
</head>
<body>
  <div class="container">

<nav>
  <a href="/stories">All Books</a>
  <a href="/stories/new">New Book</a>
</nav>
<h2>Books</h2>
    <%= yield %>
  </div>
</body>
</html>