<h3>Human played: <%= @throw %></h3>
<h3>Computer played: <%= @match %></h3>
<h3><strong><%= @result %></strong></h3>

<button class="again" type="button" onclick="window.location = '/rock'">Play Again</button>

<div>
  <img src="https://thumbs.gfycat.com/RegalAssuredGossamerwingedbutterfly-size_restricted.gif" alt="">
</div>
