<h1>Ask The Magic 8 Ball A Question</h1>
<form action="/magic/result">
<input type="search" class="input" name="user_question">
<br />
<button class="button"><i class="far fa-question-circle"></i></button>
</form>