<h1>Your Question: <%= @user_question %> </h1>
<h1>Your Answer: <%= @magic_answer %></h1>
<br />
<form action="/magic/">
<button type="submit" class="button"><i class="fas fa-sync"></i></button>
</form>