<h2>Enter a new Dealership into the System</h2>

<form method="post" action="/dealerships">
  
  <label>
    Brand:
    <input type="text" name="brand" value="" placeholder="Brand">
  </label>
  
  <label>
    Logo:
    <input type="text" name="logo" value="" placeholder="http://...">
  </label>
  
  <button>ADD NEW DEALERSHIP</button>

</form>