<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Car Locator</title>
  <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
  <div class="containter">
    
    <nav>
      <a href="/dealerships">List of Dealerships</a>
      <a href="/cars">List of Cars</a>
      <a href="/">Home</a>
      <a href="/cars/new">Add a Car</a>
      <a href="/dealerships/new">Add a Dealership</a>
      
    </nav>
    
    <%= yield %>
    
  </div>
  


  
</body>
</html>