<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pair Programming Bot</title>
    
    <link href="/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" >
  </head>
  <body>
  <div class="container" style="text-align: center">

    <!-- dynamic -->
    <%= yield %>
    <!-- after yield -->
  </div>
  </body>
</html>