
    

    <div class="row">
    <div>
      <p class="text">
         <%= @question %>
      </p>
    </div>
  </div>

  <div class="row">
    <ul class="buttons">
      <%= @answer %>
    </ul>
  </div>


