<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Google Book Lookup</title>
    <link rel="stylesheet" href="/css/books.css">
  </head>
  <body>
  <div class="container">
    <nav>
        <a href="/">Google Book Lookup</a>
    </nav>

    <h1>Google Book Lookup Via HTTParty</h1>

    <!-- dynamic -->
    <%= yield %>
    <!-- after yield -->
  </div>
  </body>
</html>