<h2>New Artist</h2>

<form action="/" method="post">
  <label>
    Name:
   <input type="text" name="name" placeholder="Artist Name" required autofocus>
  </label>

  <label>
    Image:
   <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create Artist</button>
</form>
