<h1>Book Information Retriever</h1>

<form class="" action="/infopage">
  <label>
    <input type="text" placeholder="Enter A Title" name="title" required>
  </label>

  <button type="button" name="submit">Submit</button>

</form>
