<h1>home</h1>

<div class="logo-container">
<img class="game" src="assets/game.svg" alt="">
<img class="lc" src="assets/lc.svg" alt="">
<img class="mc" src="assets/mc.svg" alt="">
<img class="c" src="assets/c.svg" alt="">
</div>
