<h1>Play Your Favourite Game</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur omnis laboriosam vel ratione distinctio assumenda quam neque placeat cupiditate. Error perspiciatis blanditiis veritatis. Temporibus quos quaerat veniam, a ea, consequuntur!</p>

<a href="/magic"><img src="https://cdn.shopify.com/s/files/1/0972/7116/products/magic_8_ball_sours_tin.png?v=1503344861"></a>

<a href="/secret"><img src="https://media.moddb.com/images/games/1/70/69761/630x500.png"></a>

<a href="/rock"><img src="http://static1.squarespace.com/static/54a0bf64e4b07c077784c627/54a0c002e4b045b45021aba7/54c31ef3e4b0d7a7fa799475/1483974131491/RPS+%281%29.png?format=1500w"></a>
