<h2>Need to refactor?</h2>
<button type="button" class="yes" onclick="window.location = '/refactor_code'">Yes</button>
<button type="button" class="no" onclick="window.location = '/new_feature'">No</button>

<!--go here if yes in (does the test pass)
y n-->
