<h2>Does the test pass?</h2>
<button type="button" class="yes" onclick="window.location = '/need_refactor'">Yes</button>
<button type="button" class="no" onclick="window.location = '/write_code'">No</button>

<!--do you have a test - no
<h2>Write the Test Done</h2>
Done
click done... go to (does the test pass)-->
