
  <img src="<%= @book_cover %>" alt="Book Thumbnail">
  <p>
    <strong><%= @title %></strong>
     <span>by <em><%= @authors %></em></span>
  </p>
  <p>
  <form action="/">
  <button type="submit"> Search again</button>
</form>
</p>
