<h2>New Attribute</h2>

<form action="/archtypes" method="post">
  <label>
    Name:
    <input type="text" name="name" placeholder="Attribute name" required autofocus>
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create Attribute</button>
</form>
