<h2>Edit Attribute</h2>

<form action="/archtypes/<%= @archtype.id %>" method="post">
  <label>
    Name:
    <input type="text" name="name" value="<%= @archtype.name %>" placeholder="Attribute name" required autofocus>
  </label>

  <label>
    Image:
    <input type="url" name="image" value="<%= @archtype.image %>" placeholder="http://...">
  </label>

  <button>Update Attributes</button>
</form>
