<h1>Welcome to the library</h1>

<form action="/book">

  <label>
    What book would you like to see?
    <input type="text" placeholder="Type your book" name="book_name">

    <button>Look for your book</button>
  </label>

</form>
