<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Google Books</title>
  <link rel="stylesheet" href="/css/books.css">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Mali');
  </style>
</head>
<body>
<div class=container>
  <nav>
    <a href="/">Home</a>
    <a href="/faq">FAQ</a>
  </nav>

  <%= yield %>
</div>
</body>
</html>
