<form action="/secret/result">
  <label>
    Guess the lottery number between 1 to 10:
    <input type="number" name="guess">
  </label>
  <button name="button">Guess!</button>
</form>

<div>
  <img src="https://si.wsj.net/public/resources/images/OG-BV085_201810_GR_20181003105910.gif" alt="">
</div>
