<h2>Your Guess: <%= @guess %></h2>
<h2>Lottery Number: <%= @random %></h2>
<h2><%= @result %></h2>

<button class="again" type="button" onclick="window.location = '/secret'">Guess Again</button>

<div>
  <img src="https://si.wsj.net/public/resources/images/OG-BV085_201810_GR_20181003105910.gif" alt="">
</div>
