<h2>Create a new director</h2>

<form action="/directors" method="post">
  <label>
    Name:
    <input type="text" name="name" placeholder="Director Name" required autofocus>
  </label>

  <label>
    Age:
    <input type="text" name="age" placeholder="Director Age">
  </label>

  <label>
    Photo:
    <input type="text" name="photo" placeholder="URL of photo">
  </label>

  <button>Create Director</button>

</form>
