<h2>New Movie</h2>

<form action="/movies" method="post">
  <label>
    Name:
    <input type="text" name="name" placeholder="Movie name" required autofocus>
  </label>

  <label>
    Name:
    <input type="text" name="year" placeholder="Movie Year" required autofocus>
  </label>
  
  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create Movie</button>
</form>
