<h1>Ask me a question and I will tell you your fortune</h1>

<form action="<%= magicresult_path %>">
  Receive your blessings
  <input type="text" placeholder="Ask the devil" required autofocus>
  <button>Get your fortune</button>
</form>

<%= image_tag "clown4.gif", :alt => "clown4", class: 'clown' %>
