<h1>Guess the number, win big prizes!</h1>

<form action="<%= numberguessfail_path %>">
  Guess a number between 1-10:
  <input type="number" required placeholder="1 to 10" autofocus>
  <button>Try your luck</button>
</form>

<%= image_tag "clown5.gif", :alt => "clown5", class: 'clown' %>
