<h2>New Apple</h2>

<form action="/apples" method="post">
  <label>
    Name:
    <input type="text" name="name" placeholder="Apple name" required autofocus>
  </label>

  <label>
    Place of Origin:
    <input type="text" name="place_of_origin" placeholder="Butterfly Familiy">
  </label>

  <label>
    Baking:
    <input type="text" name="baking" placeholder="how good for baking?">
  </label>

  <label>
    Sweetness:
    <input type="number" name="sweetness" placeholder="out of 5">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>
  <button>Add Apple</button>
</form>
