<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/apples.css">
  <title>Hungry for apples?</title>
</head>
<body>
  <nav>
      <a href="/apples">Apple list</a>
      <a href="/apples/new">add new apple</a>
    </nav>
  <h1> APPLE LYFE </h1>

  <div class="container">

    <%= yield %>

    </div>


</body>
</html>
