<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="utf-8">
    <title> Poke Search </title>
  </head>
  <body>


<div class="container">
  <div class="display_content">
    <div class="navbar">

      <div class="navtitle">
        <h1>  Poke'Team Builder</h1>
      </div>

    </div>
  </div>
</div>


  </body>
</html>
