<h2>Create a New Cuisine</h2>

<form action="/cuisines" method="post">
  <label>
    Cuisine Name:
    <input type="text" name="name" placeholder="Cuisine Type">
  </label>
  <label>
    Image:
    <input type="text" name="image" placeholder="http://">
  </label>
  <button name="button">Add Cuisine</button>
</form>
