<h2>Welcome to the Restaurants of Sydney</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, soluta illo doloribus perspiciatis, assumenda nisi magnam laudantium recusandae corporis libero eveniet tenetur reiciendis, quisquam ratione voluptate pariatur officia beatae ipsum.</p>

<p>View all the Restaurants <a href="/restaurants">here</a></p>

<h2>Type of Cuisines available in Sydney</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum corporis quia sit neque expedita, deleniti est molestiae saepe ullam at, quas placeat voluptatum iure dolores? Illo error, maxime facere corporis.</p>

<p>View all the Cuisines <a href="/cuisines">here</a></p>
