<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restaurants</title>
  <link rel="stylesheet" href="/css/restaurants.css">
</head>
<body>
  <div class="container">
    <h1>Restaurants & Cuisines</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/restaurants">List of Restaurants</a>
      <a href="/restaurants/new">Add New Restaurant</a>
      <a href="/cuisines">Type of Cuisines</a>
      <a href="/cuisines/new">Add New Cuisine</a>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
