<h2>New Author</h2>
<form action="/authors" method="post">
  <label>
    Name of Author:
    <input type="text" name="name" placeholder="Name of Author" required autofocus>
  </label>

  <label>
    Image:
    <input type="text" name="image" placeholder="http://...">
  </label>
  <button>Create Author!!</button>
</form>
