<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Google Books Search</title>
</head>
<body>
	<h1>Google Books Search</h1>
	<div id="response">
			<p> Title: <%= title %></p>
			<p> Description: <%= description %></p>
			<p> Image: <img src="<%= image_link %>" alt="book"></p>
	</div>
</body>
</html>
