<h1>Horses Are Beautiful And I Love Them</h1>
<p class="para">
  Horses are considered the most faithful friends of man, his assistant, and even the savior in difficult times. But the love to them is defined not only practical benefits. How many loves of freedom, pride, nobility in shape of a beautiful horse. And even its color, length of a mane and tail, force of legs is not important. The horse is beautiful in a quick race when the wind picks up his mane when hoofs flash above the ground. Many consider the most beautiful horse phenomenon among all created by the nature.
</p>
