<h2>WOW! It is an amazing Horse</h2>

<form action="/horse" method="post">
  <label>
    Name:
    <input name="name" placeholder="Name of Horse" required autofocus>
  </label>

  <label>
  Type:
    <input name="type" placeholder="Type of Horse">
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://.....">
  </label>
  <button>See Magic</button>
</form>
