<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Awesome Horses</title>
  <link rel="stylesheet" href="/css/horses.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/horse">Awesome Horses</a>
      <a href="/horse/new">New Horses</a>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
