/* body{
    font-family: monofur, 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center;
 } */

 .inline-block{
     display: inline-block;
     width: 30%;
     font-family: arial;
     
 }