<h1>Ask the Magic 8 Ball A Question To Receive Your Fortune</h1>

<form action="/8ball/magic">
  Your Question: <input type="text" name="question">
  <button type="submit" value="ask">ASK</button>
</form>
