<h2> Lie Credits </h2>
<p><%= @lies["lie"] %>..... This lie was brought to you by <%= @lies["username"] %> </p>


<div class="control">
  <a href="/lies/<%= @lies["id"] %>/edit">Edit</a>
  <a href="/lies/<%= @lies["id"] %>/delete">delete</a>
</div>
