<h2>New Lie</h2>
<form action="/lies" method="post">
  <label>
    User Name:
    <input name="username" placeholder="Xx_ShAdOw_FoX_Xx_69" required autofocus>
  </label>

  <label>
    Image:
    <input name="lie" placeholder="Marginrine is only 4 molicules off being a plastic">
  </label>
  <button> Create Lie </button>

</form>
