<p>Enter the Book Title you would like to check</p>

<form action="/book">
  <label for="">
    <input type="text" placeholder="Jaws" name="title">
  </label>
  <button name="button">Check Google Books</button>
</form>
