<h1>Rock Paper Scissors</h1>
<form action="/rock/response">
  <select name="#">
    <option value="rock">Rock</option>
    <option value="paper">Paper</option>
    <option value="scissors">Scissors</option>
  </select>
  <br><br>
  <input type="submit">
</form>
