<h2>Let's Play Scissors, Paper Rock!</h2>

<form action="<%= spr_result_path %>">
  
  SCISSORS
  <input type="checkbox" name="max" value="scissors" autofocus>
  <br>
  PAPER
  <input type="checkbox" name="max" value="paper" >
  <br>
  ROCK
  <input type="checkbox" name="max" value="rock" >
<br>
  <button>Guess</button>

</form>