<h1>8Ball</h1>
<form action="/eight_result">
  <label>
    Ask the mystical 8Ball a question...
    <input type="text" placeholder="..." name="question" required>
  </label>
  <button>are you ready?</button>
</form>
