<h1>rock paper scissors?</h1>
<form action="/rock_paper_scissors/result">
<select name="user_throw" id="">
  <option value="1">Rock</option>
  <option value="2">Paper</option>
  <option value="3">Scissors</option>
</select>
<button>Submit</button>
</form>
