<h1>Oceans of the World!</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta atque, mollitia eligendi minima illo. Odit omnis esse molestias eos hic minima, temporibus totam molestiae distinctio laudantium error dignissimos magni ratione.</p>

<img src="https://www.thoughtco.com/thmb/n2NbBWqqJoOWbgd-EKsKKqZMPBI=/1500x1000/filters:no_upscale():max_bytes(150000):strip_icc()/PacificOcean_Great-Barrier-Reef-58d97bae3df78c516248191f.jpg" alt="">
