<h1 class="add-bike-heading">Add To Garage</h1>
<form class="form-group" action="/motorbikes" method="post">
  <label class="label" for="">
    Name:
    <input type="text" name="make">
  </label>

  <br />

  <label class="label" for="">
    Make:
    <input type="text" name="model">
  </label>

  <br />

  <label class="label" for="">
    Image:
    <input type="url" name="image">
  </label>

  <br />
  <br />

  <button class="new-bike-button">Add Bike</button>
</form>
