body {

}

a {
  color:blue;
}
.container {
text-align: left;
margin: auto;
width: 960px;
font-size: 12px;
line-height: 17px;
font-family: "Times New Roman", serif;
color: #656565;
}



.container h2 {
  text-align: left;
  font-size: 1px;
}

.container h3 {
  font-size: 12px;
  line-height: 17px;
  font-family: "Times New Roman", serif;
  color: blue;
  text-align: left;
}

  nav img {
  border: 5px solid #cecece;
  padding: 50 50 50 50;
  margin: 1px;

}

/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
