<h2>Add a New Cheese to the Board?</h2>
<form action="/cheeses" method="post">
  Name of Cheese:<br>
  <input type="text" name="name" placeholder="Insert Cheese Name">
  <br><br>
  Type of Cheese:<br>
  <input type="text" name="texture" placeholder="Soft, Hard?">
  <br><br>
	Image:<br>
	<input type="text" name="image" placeholder="Insert URL">
	<br><br>
	 <input type="submit" value="Submit">
</form>
