<h1>Guess A Number Between 1 &amp; 10</h1>
<form action="/number/result">
<input type="text" class="input" name="user_number">
<br />
<button class="button"><i class="far fa-question-circle"></i></button>
</form>