<h1> <%=@result%> </h1>
<h1>Your Guess: <%=@user_number%> </h1>
<h1>Computer Guess: <%=@computer_number%> </h1>
<br />
<form action="/number/">
<button type="submit" class="button"><i class="fas fa-sync"></i></button>
</form>