<h2>Add Doggo</h2>

<form action="/doggos" method="post">
  <label>
    Name of Doggo:
    <input type="text" name="name" placeholder="Doggos name" required autofocus>
  </label>

  <label>
    Treats They Like:
    <input type="text" name="treats" placeholder="Enter Treats">
  </label>

  <label>
    Image of Pupperino:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <button>Create Doggo</button>
</form>
