@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700');

*
{
    /* border: 1px solid green; */
}

html
{
    height: 100%;
}

body
{
    position: relative;

    height: 100%;

    background-color: white;
    background-size: 20px;
}


/* index.html */
/*  ------------------------------------------------------------------------- */

aside
{
    position: absolute;
    top: 0;

    display: inline-block;

    width: 14em;
    height: 100%;
    padding: 4em 2em 0;

    background-color: #42444e;
}

aside:hover
{
    transition: .25s all;

    background-color: #202126;
}

h1
{
    font-family: 'Roboto Mono', monospace;
    font-size: 2.4em;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 1.5em;

    color: white;
}

h2
{
    font-family: 'Roboto Mono', monospace;
    font-size: 2.4em;
    font-weight: 400;

    margin-top: 0;
    margin-bottom: 1.5em;

    text-transform: lowercase;

    color: #42444e;
}


h3,
h4,
h5,
h6,
p
{
    font-family: 'Roboto', sans-serif;

    color: #42444e;
}

h4
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: 200;

    margin-top: 0;
    margin-bottom: .25em;

    color: #9799a7;
}

h5
{
    margin-top: 0;
    margin-bottom: .25em;

    color: #42444e;
}

a
{
    text-decoration: none;

    color: white;
}

nav ul
{
    margin: 0;

    list-style-type: none;

    padding-inline-start: 0;
}

nav ul li p
{
    font-size: .875em;
    font-weight: 200;

    margin: 0 0 .25em;

    color: #9799a7;
}

nav ul li
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.125em;

    margin-bottom: 2em;
}

<<<<<<< HEAD
main p {
	color: #666;
	line-height: 1.75;
	font-size: 0.9375em;
	letter-spacing: 0.33px;
	font-weight: 200;
	margin-top: 0;
=======
main p
{
    font-size: .9375em;
    font-weight: 200;
    line-height: 1.75;

    margin-top: 0;

    letter-spacing: .33px;

    color: #9799a7;
>>>>>>> 52e3fbcfc75cec70b613ea1a39ef638741a641ae
}


.container
{
    position: absolute;
    top: 0;
    left: 18em;

    display: inline-block;

    width: 36em;
    height: 100%;
}

main
{
    height: 100%;
    padding: 4em 3em 0;
}

/* fadeOut */
/*  ------------------------------------------------------------------------- */

.fadeOut
{
    width: 100vw;
    height: 100vh;
}

.left
{
    position: relative;

    display: inline-block;

    width: 49.5vw;
    height: 100%;

    background-color: black;
}

.right
{
    position: relative;

    display: inline-block;

    width: 49.5vw;
    height: 100%;

    background-color: white;
}

.left span
{
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;

    position: absolute;
    top: 45%;
    left: 38%;

    color: white;
}

.arrow-right
{
    position: absolute;
    top: 42.5%;
    left: 100%;

    width: 0;
    height: 0;

    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
}
