<h1>New Mountain</h1>
<form action="<%= mountains_path %>" method="post">
  <label>
    Name:
    <input type="text" name="name" required autofocus>
  </label>

  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>

  <label >
    Height:
    <input type="number" name="height">
  </label>

  <label>
    Location:
    <input type="text" name="location">
  </label>

  <button>
    Create Mountain!!
  </button>
</form>
