<h1>Here is Your Book </h1>
<img class="book-cover" src = "<%= @book_cover %> ">
<p class="author">Author: <%= @book_author %></p>
<p class="author">Date Published: <%= @date_published %></p>
<p class="author">Number Of Pages: <%= @number_of_pages %></p>
<a  id="search_again" href="/">Search Again?</a>
