<p class="title">
  <span class="blue">G</span><span class="red">o</span><span class="yellow">o</span><span class="blue">g</span><span class="green">l</span><span class="red">e</span>
  Book Search</p>
<form class="" action="/book">
  <input class="book_input" type="text" name="book_title" placeholder="Enter A Book Title">
  <br/>
  <button class="submit_button" type="submit" name="button">
    <i class="far fa-paper-plane"></i>
  </button>
</form>
