<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/dota.css">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Mali');
  </style>
  <title>Dota</title>
</head>
<body>
  <nav>
    <a href="/">Homepage</a>
    <a href="/heroes">Heroes</a>
    <a href="/heroes/new">Add new hero</a>
  </nav>
  <div class="container">
    <h1>Dota 2 Hero Wiki</h1>
    <%= yield %>
  </div>

</body>
</html>
